.modal {
  width: 621px;
  position: fixed;
  z-index: 11000;
  left: 50%;
  margin-left: -310px;
  margin-top: 0;
  top: 50%;
  text-align: center;
  border-radius: 16px;
  opacity: 1;
  transform: translate3d(0,-50%,0) scale(1);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  color: #5f616b;

  &.modal-enter,
  &.modal-leave-active {
    opacity: 0;
    z-index: 11000-1;
    transform: translate3d(0,-50%,0) scale(0.815);
  }
}
.modal-inner {
  padding: 34px;
  border:1px solid #E9E9E9;
  border-radius: 16px 16px 0 0;
  position: relative;
  background: #fff;
}
.modal-title {
  font-weight: 500;
  font-size: 41px;
  text-align: center;
  +.modal-text {
    margin-top: 11px;
  }
}
.modal-buttons {
  height: 101px;
  overflow: hidden;
  // .flexbox();
  // .justify-content(center);
  display: flex;
  justify-content: center;
  &.modal-buttons-vertical {
    display: block;
    height: auto;
  }
}
.modal-button {
  width: 100%;
  padding: 0 11px;
  height: 101px;
  font-size: 39px;
  line-height: 101px;
  text-align: center;
  color: #0CABFF;
  background: #fff;
  display: block;
  position: relative;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  border-right:1px solid #E9E9E9;
  -webkit-box-flex:1;
  -ms-flex:1;
  &:first-child {
    border-radius: 0 0 0 16px;
  }
  &:last-child {
    border-right: transparent;
    border-radius: 0 0 16px 0;
  }
  &:first-child:last-child {
    border-radius: 0 0 16px 16px;
  }
  &.modal-button-bold {
    font-weight: 500;
  }
  &.modal-button-cancel {
    color: #5f616b;
  }
  &.modal-button-disabled {
    color: #999;
    &:active {
      background: #fff;
    }
  }
  &:not(.modal-button-disabled):active {
    background: #d4d4d4;
  }
  .modal-buttons-vertical & {
    border-right:transparent;
    border-top:transparent;
    border-bottom:1px solid #b5b5b5;
    border-radius: 0;
    &:last-child {
      border-radius: 0 0 16px 16px;
      border-bottom:transparent;
    }
  }
}
.modal-no-buttons {
  .modal-inner {
    border-radius: 16px;
    // .hairline-remove(bottom);
    border-bottom:transparent;
  }
  .modal-buttons {
    display: none;
  }
}
